@tailwind base;
@tailwind components;
@tailwind utilities;


.main{
  background: url('./assets/heroImg.jpg');
  min-height: 120dvh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.logo {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75em;
}